/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
background: #fff; 
width: 970px; 
height: 25px; 
margin: 0 0 0 -30px; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 8px;
width: 970px;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 970px;
font: bold 12px Arial;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin-right: 30px;
padding: 0;
background: #fff;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: bold 12px Arial;
margin: 0 20px 0 0;
} 
ul.newsticker span {
margin: 0 20px 0 0;
} 

