body
{
   min-height:100%;
    min-width: 1000px;
    width: 100%;
    margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt "Arial",Helvetica,sans-serif;
	background: #ffffff;
}

 .newsimg {
    float:right; 
    margin: 10px 0px 10px 10px;
   }

#m0 { 
    
    width:700px; 
    color: #f00; 
    
} 
#m1 { 
    width:700px; 
    color: #00f; 
    display: none; 
} 



#servbg {
    width:650px; 
    margin: -20px 2px 2px 2px;
    height: 100%;
    background-color: #a2d507;
    padding: 5px;
    border-radius: 10px;
    padding-bottom: 30px;
}

#classtitle table{
    width: 380px;
    
    }
#classtitle span{
    width: 400px;
    text-align: center;

    padding: 8px 25px 8px 25px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #2b3400;
   
}
#classtitle a{
    text-decoration: none;
    color: #2b3400;
    border-bottom: 1px dotted #000;
}

#classtitle p{
    height:10px;
    }
#m0 li {

         display: block;
         float: left;
         width: 40%;
         background-color: #fff;
         border-radius: 5px;
         padding: 10px;
         margin: 6px 20px 6px 6px;
         color:#000;
         box-shadow: 5px 5px 3px -3px #515151;
         line-height: 20px;
        }
        
#m0 a {
         text-decoration: none;
         color:#076c8e ;
         font-size: 14px;
        }
        
        
    #m1 a {
         text-decoration: none;
         color:#076c8e ;
         font-size: 14px;
        }  
        
#m0 div{
             display: block;
             border-radius: 5px;
             
        }

#m0 div:hover{
         display: block;
         background-color: #16bae9;
         border-radius: 5px;
         color:#fff;  
      
        }
        
        
#m1 div{
       display: block;
        border-radius: 5px;
             
        }

#m1 div:hover{
         display: block;
         background-color: #16bae9;
         border-radius: 5px;
         color:#fff;  }
      
#m1 li {

         display: block;
         float: left;
         width: 40%;
         background-color: #fff;
         border-radius: 5px;
         padding: 10px;
         margin: 6px 20px 6px 6px;
         color:#000;
         box-shadow: 5px 5px 3px -3px #515151;
         line-height: 20px;
        }

#m1 li a:hover{
             display: block;
       float: left;
        
         background-color: #16bae9;
         border-radius: 5px;
        
            
         color:#000;
         color:#fff;
         box-shadow: 0px 0px 0px 0px #515151;
        line-height: 20px;
        }

#resourses
{
	margin-top: 20px;
     margin: 0 auto;
    background: #fff;
	margin-bottom: 0px;
	width: 1000px;
}

#cat
{
	width: 1000px;
    margin: 0 auto;
	padding: 0;
   
}

#content
{

    	width:  1000px;
        padding: 27px 0 10px 0px;
}

#navigbg{
    padding: 7px 0 7px 0;
    background-color: #ededed;
    width: 100%;
   
}



#navig
{       margin: 0 auto;
        width:  1000px;
}

#navig a
{
        color: #000;
        
}

#newsd{
    min-height: 270px;
    position: relative;
    background-color: #fff;
    width:  980px;
    margin: 0 auto;
    margin-top: -40px;
    padding: 10px;
}



#maintext
{
    	width:  700px;       
        margin: -13px 0 0 0;
         font-size:16px;
   color: #000;
   font-weight:normal;
   letter-spacing: 0.05em ;
   padding: 0 10px 8px 10px; 
   margin-bottom: 15px;
   line-height: 1.5;
}


#sidebar
{
   width: 300px;
    margin-top: 0px;
padding: 0 0 0 0px;	

}
#links {
    position: relative;
     float:left;
     margin-top: 15px;
}
#links a{
   color: #000;
   
    font-size: 16px;
    
    border-bottom: 1px dotted #ffffff;
    line-height: 1.5;
}


#searchresult{
    margin: 0px 0 0 0px;
    min-height: 300px;
    background-color: #fff;
    width:  1000px;
   
}

#searchserv{
     background-color: #fff;
     width:  1000px;
     margin: 0px 0 0 0px;
}

#searchresult ol{
    line-height: 1; 

}

#searchresult li{
    line-height: 1.5; 

}


#about
{
	width: 1000px;
    margin: 0 auto;
	padding: 0;
   
}
#logo
   {
    margin: 0 auto;
  	width: 1000px;
}

#logo p
   {
   
   
    font: normal 8pt sans-serif,Helvetica;
    margin: 5px 5px 0 -15px;
    }


#topmenu {	
    width: 1000px;
    margin: 0 auto;
	padding: 0px 0 0 0px;
  
}

#topik {	
    width: 100%;
    height: 30px;
    background-color:#18262A;
}

#mainmenu
{
background-color:transparent;
   margin: 0 auto;
   height: 20px;
 
   text-align: center; 
}

#mainmenu ul
{
	padding:1px 20px 5px 10px;
}

#mainmenu ul li
{
	display: inline;
      
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
    border-bottom: 1px dotted #ffffff;
	padding:5px 12px;
   
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #fff;
	background-color:#ccec37;
	text-decoration:none;
    border-bottom: 1px dotted #fff;

}


#cabinet
{
	
    min-height: 270px;
    position: relative;
    
    width:  980px;
    margin-left: -290px;
    margin-top: -50px;
    padding: 10px;
   
}
#cabinet tr {
    border: 1px solid #c0c0c0;
}

#cabinet p {
     line-height: 0;
     color:  #000; 
}

#ctitle {
 background-color:#ccec37;
 font-weight:bold;
 color: #000;
}

#news
{
	
    width: 1000px;
    margin: 0 auto;
	padding: 10px 0 0 0px;
   
}

#news td
{
     vertical-align: top; 
  }

#news a
{
	color:#000000;
	background-color:transparent;
	font-size:14px;
	font-family:""Arial""sans-serif;;
	
}

#banners{
    width: 1000px;
    margin: 0 auto;
	padding: 10px 0 0 0px;

}


#bannertext {
color: #fff;
background-color: rgba(0, 0, 0, 0.5);
filter: alpha(Opacity=70); 
vertical-align: middle;
height: 40px; 
font-weight: bold;
font-size: 16px;
border-radius:20px 20px 0 0 ;

}
#banners a {
 text-decoration: none;   
}

#bannertext:hover {
background-color: rgba(0, 0, 0, 0.7);
filter: alpha(Opacity=70); 
}




#loginmenu
{
    position: absolute;
  margin-top: -15px;
  background-color:#ccec37;
  width:  200px;
  height: 30px;
  text-align: center;
  float: left;
}

#loginmenu img
{
  float: left;
  padding: 0 0 0 10px;
}

#loginmenu ul
{padding-top:5px;
    height: 25px;
  background-color:#ccec37;
	margin:0;margin-top: 5px;
    padding: 0px 0px 0px 0px;
}

#loginmenu ul li
{
	display: inline; padding: 10px 0px 0px 0px;
}

#loginmenu ul li a
{
	color:#18262a;
	background-color:transparent;
	font-size:12px;
	font-weight:normal;
	
    background-color:#ccec37;

    margin-right: 8%;
  height: 25px;
}

#loginmenu ul li a:hover, #loginmenu ul li.active a
{
	color: #000;
    background-color:#ccec37;
		text-decoration:none;
  
}

#isonline{
   background-color:#16bae9; 
   color:#fff; font-size:10px;
   letter-spacing: 0.1em ;
   padding: 1px 4px 1px 4px;
   border-radius: 5px;
}


#poslugy {
    float: right;
    margin-top: -10px;
   width:74%;
}
#poslugy h3 {
    margin-top: -10px;
}

#poslugy td { 
    padding: 6px;
}




#hidenserv{
    background-color: #16bae9;
}



#poslugy  a
{
    
    color: #000;
	background-color:transparent;
	font-size:14px;
	font-weight:normal;
	 line-height: 1.5;
    height: 20px; 
    
    
}

#poslugy  hr
{
    width: 660px;
    margin: -5px auto 20px auto;
    background-color:#999;
color:#999;
    
}
#poslugy  a:hover
{
    
    
	background-color:transparent;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
    height: 20px; 
    line-height: 1.5;
    
}

#search {
	width: 300px;
	font-size: 12px;
	padding: 0px 8px 0px 8px;
	border: none;
	background: #fff;
	border-radius: 8px;
    margin-left: 5%;
    margin-top: 5%;
height: 14px;
}







div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 20px 0;
	background: #fff;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px "Arial";
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}



















.css_menu
{
	


  
  
}

.css_top_item
{
	background: #18262a;
    height: 20px;
    text-align: center;
    margin-right: 5%;
	float:left;
	border:rgba(0,0,0,0) solid thin;
	border-bottom:none;
 
}

.css_top_item a
{
	display:block;
    color:#ffffff;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
    border-bottom: 1px dotted #ffffff;
   
}



.css_top_item.current 
{
	background: #ccec37;
 }
.css_top_item.current .css_sub_item a
{
	background: #ccec37;
    
}

.css_top_item:hover
{
	

    color:#fff;
	

     border-bottom: 0px;
}
.css_top_item:hover a
{
	color:#fff; 
    	border-bottom:none;
}



.css_sub_item
{
    
	background: #ccec37;
    color: #000;		
}

.css_sub_item a
{
	display:block;
	color:#000;
	padding:8px;
   	border-bottom:none;	
    color:#000000;
    background: #ccec37;

}

.css_sub_item:hover
{

    color:#000000;
}

.css_sub_menu2
{
	display:none;
	z-index:5002;
	margin-top:-20px;
	
color:#000000;
	border-radius: 5px;

}
.css_sub_item a span
{
    background: #ccec37;
	display:block;
	padding:0px;
    color:#000000;
}

.css_sub_item a:hover span
{
    color:#000000;
    text-decoration: underline; 	
    background: #ccec37;
}

/*EDGES SUB*/


.css_sub_menu2 .css_sub_item.first.last
{

	border-radius: 15px;
}

.css_sub_item.last
{
    background: #ccec37;
	border-bottom:none !important;
    padding: 0 0 10px 0;
    border-radius: 8px;
}

/*LEVEL ONE*/

.css_top_item:hover .css_sub_menu
{
	display:block;
	position:absolute;

}

/*LEVEL TWO*/

.css_sub_item:hover .css_sub_menu2
{
	display:block;
	position:absolute;
    background: #ccec37;

}






.image {
	position	: relative;
	width		: 100%; /* for IE 6 */
}

h2 {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	}
h2 span {
	color: #ccc;
	font-size: 14px;
	line-height: 55px;
	background: rgba(0, 0, 0, 0.7);
	background: #000;
	padding: 1px 1px 1px 1px;
	}




.adv img{

text-align: center;

opacity:1;
-moz-opacity:1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background-color:#000;
}
 
.adv img:hover {
opacity:0.8;
-moz-opacity:0.8;
filter: alpha(opacity=90) black;
-khtml-opacity: 0.8;
background-color:#000;
}



#derzhtext {
    color: #fff;
    width: 150px;
    line-height: 15px;
    text-align: center;
    font-size: 14px;
     text-shadow: 1px 1px 1px #000; 
    position: relative;
    height:40px;
    margin-top: -40px;
    background-color: #000;
   background-color: rgba(0, 0, 0, 0.5);
   filter: alpha(Opacity=70); 
  
}

#derzhtext:hover{
   background-color: rgba(0, 0, 0, 0.7);
   filter: alpha(Opacity=70); 
  
}
#resourses a {
 text-decoration: none; 
}


#gr {
    margin-top: -30px;
}










#org 
{
    position: relative;
    color:#000;
    padding: 0px 5px 4px 0;
    margin-top:10px;
    width:  270px;
    text-align: left;
    float: left;
    
}
#org h3 
{
    
background: #ccec37;  
color:#000;
text-align: left;
font-family: "Arial" sans-serif;
font-size:19px;

 padding: 10px 0 10px 30px; 
 border-radius: 8px 8px 0 0 ;
}


#org h3:hover
{
    color:#fff;
background: #ccec37;  

text-align: left;

 padding: 10px 0 10px 30px; 
  border-radius: 8px 8px 0 0 ;
}



#org  ul
{
  overflow:  hidden;
	margin:0px 0px 0px -30px;
   
}



#org li
{
 margin-bottom: 10px;
  width: 270px;  
 
}

#org ul li
{
	display: block; 
      
}

#org ul li a
{
	color:#000000;
	font-size:13px;
	font-weight:normal;
	text-decoration:none;

	padding: 13px 5px 4px 0px;
    
  
}

#org ul li a:hover,  #org ul li.active a
{
	color: #009101;
    height: 10px;

}
















#grom 
{
    
    padding: 13px 5px 4px 0;
    margin:0px;
    width:  270px;
    text-align: left;
    float: left;
}
#grom h3
{
background: #ccec37;  

text-align: left;
font-family: "Arial" sans-serif;
font-size:19px;
 padding: 10px 0 10px 30px; 
 border-radius: 8px 8px 0 0 ;
}

#grom h3:hover
{
background: #ccec37;  

text-align: left;

 padding: 10px 0 10px 30px; 
 
}
#grom  ul
{
  overflow:  hidden;
	margin:0px 0px 0px -30px;
    
}



#grom li
{
 margin-bottom: 10px;
  width: 270px;  
  color:#ffffff; 
}

#grom ul li
{
	display: block;
}

#grom ul li a
{
	color:#000000;
	font-size:13px;
	font-weight:normal;
	text-decoration:none;
 
	padding: 13px 5px 4px 0px;
    
  
}

#grom ul li a:hover,  #grom ul li.active a
{
	color: #009101;
    height: 10px;
  
}








#resultat
{
    background-color:#ccec37;
	color:#333333;
	border: none;
       font-size:14px;
   letter-spacing: 0.05em ;
	background: #ccec37;
	border-radius: 8px;
   	padding: 10px 10px 2px 10px;
   margin-top: 4%;
   line-height: 1.5;
}
#onl {
    float: left;
    width: 230px;
    margin-right: 30px;
}
#otonline{
   margin-top: -13px;
   width: 190px;
   background-color:#ffad09; 
   float: left;
   font-size:14px;
   font-weight:bold;
   letter-spacing: 0.1em ;
   padding: 8px 10px 8px 10px;
   border: 5px solid #61b702;
   border-radius: 10px;
   
}
#otonline:hover{
   
   width: 190px;
   background-color:#ffda90; 
     margin-top: -13px;
   font-size:14px;
   font-weight:bold;
   letter-spacing: 0.1em ;
    padding: 8px 10px 8px 10px;
   border: 5px solid #61b702;
   border-radius: 10px;

}

#otonline a{
  color:#972d11; 
 text-decoration:none;
}

#otonline a:hover{
   color:#972d11;
   text-decoration:none;
}

#posname{
    width: 1000px;
   font-size:25px;
   color: #000;
   font-family: "Arial" Narrow;
   font-weight: 500;
   margin: 10px auto;

}


#nposnamebg{
    padding: 7px 0 7px 0;
    background-color: #fff;
    width: 100%;
}




#wrapp {
width: 970px;
text-align: left;
font: normal 1em "Arial";
margin: 0 auto;
padding: 0;
color: black;

}

#sall {
    margin-top: -23px;
   }

#showall {
    width: 190px;
   margin-top: -10px;
   margin: 0 auto;
   text-align: center;
   background-color:#ccec37; 
   color:#fff;
   font-size:10px;
   padding: 2px 4px 2px 4px;
   border-radius: 5px;
}

#showall img{
    padding: 2px;
   
}

#showall a {

 font-size:12px;  
  color: #333;   
}
#showall a:hover{
 font-size:12px;  
  color: #000;   
}


#shortblock {
    float: left;
    width: 230px;
    margin-top: -7px;
    line-height: 22px;
    margin-right: 30px;
    
}
#shortblock h3{
    color:#006699;
    font-family: "Arial";
    font-size: 15px;
    margin: 2px 0 6px 0;
}
#shortblock td {
      border-bottom: 1px solid #C0C0C0;
   padding: 14px;
}
#shortblock table{
   border-radius: 15px   ;
    background-color: #ededed;
    
}






#shortblockserv {
    float: left;
    width: 230px;
    margin-top: -7px;
    line-height: 22px;
    margin-right: 30px;
    
}

#shortblocktext td {
   padding: 7px 0px 7px 8px;
}
#shortblocktext table{
   border-radius: 15px   ;
    background-color: #ededed;
    
}

#shortblocktext li {
    list-style-type: none;
    margin-left: -5px ;
    color: #076c8e;
    font-weight: bold;
    text-decoration: none;
   
    padding-bottom: 5px;
      padding-top: 5px;
    border-bottom: 1px solid #C0C0C0;
}



#shortblocktext li a {
    width:100%;
    color: #076c8e;
    font-weight: bold;
    text-decoration: none;
    font-family: "Arial" sans-serif;
}
#shorttit {
      width: 150px;
    height: 50px;
   
}
#shorttit span{
  
    text-align: center;
    background-color: #a2d507;
    padding: 8px 25px 8px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #2b3400;
 
}







