#footer
{   
    padding: 0px;
	height: 270px;
	font-size: 0.8em;
	text-align: center;
	
    background: #18262a;
    background-image: url(http://allium2.soborka.net/iasnap/images/but.jpg);
    background-position: bottom center; 
    background-repeat: no-repeat; 
}



#banner1{
    
    background-image: url(http://allium2.soborka.net/iasnap/images/b1.jpg); 
    border-radius: 20px;
    width: 300px;
    height:100px;vertical-align: bottom; 
  text-align: center;
 vertical-align: middle;  
}

#banner2{
      background-image: url(http://allium2.soborka.net/iasnap/images/b2.jpg); 
    border-radius: 20px;
    width: 300px;
    height:100px;vertical-align: bottom; 
  text-align: center;
 vertical-align: middle; 
}
#banner3{
      background-image: url(http://allium2.soborka.net/iasnap/images/b3.jpg); 
    border-radius: 20px;
    width: 300px;
    height:100px;vertical-align: bottom; 
  text-align: center;
 vertical-align: middle; 
}

.css_sub_menu
{
	background-image: url(http://allium2.soborka.net/iasnap/images/menu.png); 
    background-repeat: no-repeat;
    text-align: left;
    display:none;
	width:150px;
	z-index:5001;
	margin-left:-1px;
	border-radius: 8px;
    padding: 30px 0 30px 0 ;
    margin-top: 0px;
      
}

#shortblocktext ul li.active a 
{
display:  block;
background-color: #a2d507;
background-image: url(http://allium2.soborka.net/iasnap/images/strelka_r.png);
background-repeat: no-repeat;
background-position: right center;
background-size: cover; 
padding:0;
color: #2b3400;
border-radius: 6px;
font-size: larger;
font-weight: bold;
font-family: "Arial" sans-serif;
margin-left: -5px;
padding: 10px;
}