/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.11.2014, 21:06:03
    Author     : prk
*/

#FFModel_service {
    width: 100%;
}

#FFModel_service option {
     width: 700px;
}

#FFModel_address {
    width: 100%;
}

#FFModel_reason {
    width: 100%;
}