.css_menu
{
	z-index:5000;
	margin: 0 auto;
  width: 700px;
}

.css_top_item
{
	position:relative;
	float:right;
	border:rgba(0,0,0,0) solid thin;
	border-bottom:none;
}

.css_top_item a
{
	display:block;
	padding-top:5px;
	padding-bottom:6px;
	padding-right:10px;
	padding-left:100px;
	color:inherit;

    font-size:12px;
	font-weight:normal;
	text-decoration:none;
}


.css_top_item.current 
{
	background: #a2d507;
}
.css_top_item.current .css_sub_item a
{
	background:none;
}

.css_top_item:hover
{
	background: #a2d507;
	text-decoration:none;
	border:#fff solid thin;
	border-bottom:none;
}
.css_top_item:hover a
{
	color:#a2d507;
}

.css_sub_menu
{
	display:none;
	width:200px;
	z-index:5001;
	margin-left:-1px;
	border:#CCC solid thin;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
-webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .5);
-moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .5);
box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .5);
}

.css_sub_item
{
	background: #a2d507;
}

.css_sub_item a
{
	display:block;
	color:#000;
	padding:7px;
	text-decoration:none;
}

.css_sub_item:hover
{

}

.css_sub_menu2
{
	display:none;
	width:200px;
	z-index:5002;
	margin-top:-20px;
	border:#CCC solid thin;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
-webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .5);
-moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .5);
box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .5);
}
.css_sub_item a span
{
	display:block;
	padding:3px;
	border: rgba(0,0,0,0) solid thin;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.css_sub_item a:hover span
{
	border:#03C solid thin;
	background: #a2d507;
}

/*EDGES SUB*/

.css_sub_menu2 .css_sub_item.first
{
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.css_sub_item.last
{
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

.css_sub_menu2 .css_sub_item.first.last
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*SUBMENU INTERNAL BORDERS*/

.css_sub_item
{
	border-bottom:#CCC solid thin;
}

.css_sub_item.last
{
	border-bottom:none !important;
}

/*LEVEL ONE*/

.css_top_item:hover .css_sub_menu
{
	display:block;
	position:absolute;
}

/*LEVEL TWO*/

.css_sub_item:hover .css_sub_menu2
{
	display:block;
	position:absolute;

}

