td.content {
    padding: 20px
}

/*	input.button	{border:1px solid #808080; background:#EEEEEE; color:#000000;
						height:22px; font-size:12px; cursor:pointer; 
						font-family:Arial,sans-serif,Helvetica;}	*/
input.edit.eusign {
    border: 1px solid #808080;
    background: #FFFFFF;
    color: #000000;
    width: 375px;
    height: 16px;
    font-size: 11px;
    font-family: Tahoma, Arial, sans-serif, Helvetica;
    margin: 1px 0px 0px 0px;
}

input.file {
    border: 1px solid #808080;
    background: #FFFFFF;
    color: #000000;
    width: 375px;
    height: 19px;
    font-size: 11px;
    font-family: Tahoma, Arial, sans-serif, Helvetica;
    margin: 1px 0px 0px 0px;
}

textarea.textarea {
    border: 1px solid #808080;
    background: #FFFFFF;
    color: #000000;
    width: 260px;
    height: 152px;
    font-size: 11px;
    font-family: Tahoma, Arial, sans-serif, Helvetica;
    margin: 1px 0px 0px 0px;
}

.header {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.headerg {
    font-size: 14px;
    font-weight: bold;
    color: #808080;
}

.label {
    font-size: 12px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

.text.eusign {
    font-size: 12px;
}

.errormessage {
    font-size: 12px;
    color: #FF0000;
}

.okmessage {
    font-size: 12px;
    color: #18673C;
    font-weight: bold;
}

#divStatusPanel {
    font-size: 12px;
    color: #808080;
    font-weight: bold;
}

.comments {
    font-size: 11px;
    color: #808080;
    font-weight: bold;
}

a.link {
    font-size: 12px;
    font-weight: normal;
    color: #808080;
    cursor: pointer;
}

a.link:hover {
    font-size: 12px;
    font-weight: normal;
    color: #808080;
    text-decoration: underline;
    cursor: pointer;
}

.orderlayer {
    z-index: 1;
    position: relative;
    height: 200px;
}

.inputpanel {
    z-index: 25;
    position: relative;
    height: 1px;
    visibility: hidden;
    overflow: hidden;
}

.hidden {
    display: none;
}

#opaco {
    background-color: #000000;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    filter: alpha(opacity=70);
    moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    opacity: 0.55;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#popup {
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300px;
    width: 300px;
    z-index: 12;
    font-family: Arial, sans-serif, Helvetica;
}

#popup .header {
    background: #C0C0C0;
    color: #FFFFFF;
    font-size: 12px;
    padding: 15px;
}

#popup .button.eusign {
    border: 1px solid #808080;
    background: #EEEEEE;
    color: #000000;
    height: 20px;
    width: 72px;
    font-size: 12px;
    cursor: pointer;
    font-family: Arial, sans-serif, Helvetica;
    margin: 10px 0px 5px 5px;
}

#popup .form.eusign {
    background: #FFFFFF;
    color: #000000;
    font-size: 12px;
    padding: 15px;
}
.form.eusign {
	font-weight: bold;
}

#popup .edit.eusign {
    border: 1px solid #808080;
    background: #FFFFFF;
    color: #000000;
    width: 260px;
    height: 16px;
    font-size: 11px;
    font-family: Arial, sans-serif, Helvetica;
    margin: 1px 0px 0px 0px;
}

#popup .select.eusign {
    border: 1px solid #808080;
    background: #FFFFFF;
    color: #000000;
    width: 264px;
    height: 20px;
    font-size: 11px;
    font-family: Arial, sans-serif, Helvetica;
}

.Form.eusign {
    top: 30px;
    position: fixed;
    display: block;
    border: 2px solid #0E0E0E;
    background-color: #F0F0F0;
	border-radius: 15px
    /*box-shadow:3px 3px 7px 3px #000;*/
}

/*.Form .button {border:1px solid #808080; background:#EEEEEE; color:#000000; 
					height:20px; width:72px; font-size:12px; cursor:pointer; 
					font-family:Arial,sans-serif,Helvetica; 
					margin: 10px 0px 5px 5px; }	*/
.Form  .edit.eusign {
    border: 1px solid #808080;
    background: #FFFFFF;
    color: #000000;
    width: 270px;
    height: 30px;
    font-size: 11px;
    font-family: Arial, sans-serif, Helvetica;
    margin: 1px 0px 0px 0px;
	border-radius: 5px
}

.Form .select.eusign {
    border: 1px solid #808080;
    background: #FFFFFF;
    color: #000000;
    width: 270px;
    height: 30px;
    font-size: 14px;
    font-family: Arial, sans-serif, Helvetica;
	border-radius: 5px
}

.FormHeader.eusign {
    color: #000000;
    text-align: center;
    font-size: 16pt;
    font-family: Verdana, Arial;
}

.SettingsTabHeader.eusign {
    color: #000000;
    text-align: center;
    font-size: 13pt;
    font-family: Verdana, Arial;
    line-height: 0px;
    text-indent: 0px;
}

.SettingsParameter.eusign {
    border-bottom: 1px solid #06185C;
    text-indent: 0px;
}

.SettingsTab.eusign {
    font-family: Verdana, Arial;
    font-size: 12px;
    line-height: 20px;
    text-indent: 10px;
}

ul#Tabs {
    font-family: Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}

#Tabs li.Tab.eusign {
    height: 25px;
    border: 1px solid #808080;
    background: #EEEEEE;
    color: #000000;
    margin: 2px 0px 0px 0px;
    font-family: Arial, sans-serif, Helvetica;
}

#Tabs li.Tab.eusign a {
    display: block;
    color: #666666;
    text-decoration: none;
    padding: 5px;
}

#Tabs li.Tab.eusign a:hover {
    background-color: #bfe0fe;
}

#Tabs li.SelectedTab.eusign {
    height: 25px;
    background-color: #fafafa;
    margin: 2px 0px 0px 0px;
    border-top: 1px solid #a2b6cb;
    border-right: 1px solid #a2b6cb;
    border-bottom: 1px solid #a2b6cb;
    border-left: 1px solid #a2b6cb;
}

#Tabs li.SelectedTab.eusign A {
    display: block;
    color: #666666;
    text-decoration: none;
    padding: 5px;
    cursor: default;
}

table.certTable td {
    border: 1px solid #CCCCCC;
    text-align: center;
    vertical-align: middle
}

table.certTable thead td {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: #EEEEEE;
}

table.certTable thead td.curcol {
    background-color: #999999;
    color: #FFFFFF
}

table.certTable {
    border-collapse: collapse;
    table-layout: fixed;
    width: 800px
}

div#certHeaderContainer {
    overflow: hidden
}

div#scroll {
    width: 590px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 220px;
    padding-left: 0px
}

div#certFakeScrollContainer {
    width: 590px;
    overflow: hidden;
    position: relative;
    align: center
}

input[type=button].btn {
	border-radius: 5px;
	width: 130px;
	height: 30px;
}

input[type=button].btn-primary {
	background-color: #16bbe9;
	margin-right: 10px;
}

input[type=button].btn-primary:disabled {
	background-color: #dddddd;
}

/* Corrections for mff */
div.Form.eusign {
	-webkit-perspective-origin: 167px 187.984375px;
	-webkit-transform-origin: 167px 187.984375px;	
	font-weight: normal;
	height: 371.984375px;
	perspective-origin: 167px 187.984375px;
	transform-origin: 167px 187.984375px;
}

form.formKeyMedia {
	height: 371.984375px;
}

table.border.eusign {
	-webkit-column-rule-color: rgb(85, 85, 85);
	-webkit-perspective-origin: 165px 135.5px;
	-webkit-text-fill-color: rgb(85, 85, 85);
	-webkit-text-stroke-color: rgb(85, 85, 85);
	-webkit-transform-origin: 165px 135.5px;
	border-bottom-color: rgb(85, 85, 85);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-collapse: separate;
	border-left-color: rgb(85, 85, 85);
	border-top-color: rgb(85, 85, 85);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	color: rgb(85, 85, 85);
	height: 271px;
	margin-bottom: 18.6666660308838px;
	outline-color: rgb(85, 85, 85);
	perspective-origin: 165px 135.5px;
	transform-origin: 165px 135.5px;
}

td.form.eusign {
	-webkit-perspective-origin: 162.5px 135.328125px;
	-webkit-transform-origin: 162.5px 135.328125px;
	background-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgb(85, 85, 85);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: rgb(85, 85, 85);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(85, 85, 85);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(85, 85, 85);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-style: none;
	border-top-width: 0px;
	display: table-cell;
/*	height: 262.65625px;	*/
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 4px;
	perspective-origin: 162.5px 135.328125px;
	position: static;
	top: auto;
	transform-origin: 162.5px 135.328125px;
	width: 310px;
	z-index: auto;
}

table.eusigninternaltable {
-webkit-column-rule-color: rgb(85, 85, 85);
-webkit-perspective-origin: 155px 122px;
-webkit-text-emphasis-color: rgb(85, 85, 85);
-webkit-transform-origin: 155px 122px;
border-bottom-color: rgb(85, 85, 85);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-collapse: separate;
border-left-color: rgb(85, 85, 85);
border-right-color: rgb(85, 85, 85);
border-top-color: rgb(85, 85, 85);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
color: rgb(85, 85, 85);
height: 244px;
margin-bottom: 18.6666660308838px;
outline-color: rgb(85, 85, 85);
perspective-origin: 155px 122px;
text-align: left;
transform-origin: 155px 122px;
}

td.form.eusign.eusigninternaltable {
-webkit-perspective-origin: 155px 17.5px;
-webkit-transform-origin: 155px 17.5px;
perspective-origin: 155px 17.5px;
transform-origin: 155px 17.5px;
}

#DeviceTypeSelect {
-webkit-text-emphasis-color: rgb(0, 0, 0);
-webkit-text-fill-color: rgb(0, 0, 0);
-webkit-text-stroke-color: rgb(0, 0, 0);
-webkit-transition-duration: 0s;
-webkit-transition-timing-function: ease;
margin-bottom: 0px;
margin-top: 0px;
transition-duration: 0s;
transition-timing-function: ease;
}

div.eusigninternaltable {
-webkit-perspective-origin: 165px 20px;
-webkit-transform-origin: 165px 20px;
display: block;
font-weight: normal;
height: 30px;
padding-left: 0px;
padding-right: 10px;
padding-top: 0px;
perspective-origin: 165px 20px;
text-align: -webkit-center;
}

input.eusigninternaltable {
-webkit-transition-duration: 0s;
-webkit-transition-timing-function: ease;
border-bottom-color: rgb(221, 221, 221);
border-bottom-style: outset;
border-bottom-width: 2px;
border-left-color: rgb(221, 221, 221);
border-left-style: outset;
border-left-width: 2px;
border-right-color: rgb(221, 221, 221);
border-right-style: outset;
border-right-width: 2px;
border-top-color: rgb(221, 221, 221);
border-top-style: outset;
border-top-width: 2px;
margin-bottom: 0px;
margin-top: 0px;
transition-duration: 0s;
transition-timing-function: ease;
}